.vidmain{
    width: 100%;
    height:80% ;
    padding: 0% 4%;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid:12px ;
}

.box{
    
    height: 250px;
    background: rgb(153, 144, 144);
    border-radius: 12px;
   

}